<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>顧客一覧</title>
</head>
<body>
	<h1>顧客一覧</h1>
	
	こんにちは、[[${@account.name}]]さん
	
	<form action="/users" method="get">
		<input type="text" name="keyword" th:vlaue="${keyword}">
		<input type="submit" value="検索">
	</form>

	<table border="1">
		<tr>
			<th>顧客ID</th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>パスワード</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		
		<tr th:each="user : ${list}">
			<td>[[${user.id}]]</td>
			<td>[[${user.name}]]</td>
			<td>[[${user.email}]]</td>
			<td>[[${user.password}]]</td>
			<td>
				<form th:action="|users/${user.id}/edit|" method="get">
					<input type="submit" value="更新">
				</form>
			</td>
			<td>
				<form th:action="|users/${user.id}/delete|" method="post">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>
	
	<a href="/users/add">新規登録</a>
	
	<br>
	
	<a href="/logout">ログアウト</a>
</body>
</html>